  <!-- File name: Bottom_nav.ejs
     Student name: Parth Patel
     Student ID: 301207843
     date : 28th sept 2021-->
     
     <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-light">
      <div class="container-fluid">
        <p class="display-9">thank you, Parth Patel.</p>    <!-- display message at lower navigation bar-->
      </div>
    </nav>
  </footer>
  