<!-- *********************************   about me page  *********************************************** -->
    <% if (title == "about"){ %> 
      
      <div>
        
        <h1 id="name">
           Parth Patel
        </h1>
      </div>
      <img id="i1" src="Assets/me.jpg" height="400px" width="320px" />
      <p  id="pdf1"> my resume: </p><a id="link1" href="Assets/resume .pdf">PDF file </a> </p>
      <p id="aboutme">
        Hello, my name is Parth Patel. I am from India. I have complited Computer Science Engineering from Parul University in 2020.
        I like challenges and love to travel and explore new places. Swimming, Riding, playing sports and cooking are my hobbies. I have done 
        my final year project in image processing and little bit of deep learning topic. So that encourage me to study more course like AI and Machine learing,
        so I took admission at centennial in software engineering - AI course. 
      </p>
    <%}%>
    