
<!-- File name: footer.ejs
     Student name: Parth Patel
     Student ID: 301207843
     date : 28th sept 2021-->

 <!-- Script are back end -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>      <!-- script path to add -->
  <script src="/Scripts/app.js"></script>
</body>
</html>