 <!-- *********************************   service page    *********************************************** -->
    <% if (title == "service"){ %> 
      
      <h1 style="position: absolute; top: 250px; left: auto; color: rgb(17, 15, 94); background-color: rgb(139, 139, 155);"> My services: </h1>
      <h2 style="position: absolute; top: 350px; left: 650px; color: teal;"> Programming  <i class="fas fa-wrench"></i> </h2>
      <img  src="Assets/prog.jpeg" height="400px" width="800px" style="position: absolute; top:400px; left: 350px;" />


      <h2 style="position: absolute; top:  950px; left: 650px; color: teal;"> Problem solving  <i class="fas fa-wrench"></i> </h2>
      <img  src="Assets/prob.jpeg" height="400px" width="800px" style="position: absolute; top:1000px; left: 350px;" />

      
      <h2 style="position: absolute; top:  1550px; left: 650px; color: teal;"> software design  <i class="fas fa-wrench"></i> </h2>
      <img  src="Assets/soft.jpeg" height="400px" width="800px" style="position: absolute; top:1600px; left: 350px;" />

      <h2 style="position: absolute; top:  2300px; left: 650px; color: teal;">. <i class="fas fa-wrench"></i> </h2>
      
    <%}%>
     <!-- *********************************   service page    *********************************************** -->